<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="iconResource" value="RackSys.TestLab.Measurement.ico"/>
    <!-- 图片在外部配置，不使用资源文件的形式
    <add key="splashResource" value="RackSys.TestLab.SidewinderSplash.bmp" />
    -->
    <add key="productType" value="RackSystem TestLab for Solid Power Amplifier"/>
    <add key="windowName" value="RackSystem TestLab for Solid Power Amplifier"/>
    <add key="productName" value="RAC-TestLab"/>
    <add key="productConfiguration" value="TestLab"/>
    <add key="useLicenseManager" value="false"/>
    <add key="DUTNumber" value="1"/>
    <add key="DCPowerNumber" value="8"/>
    <add key="RFStimulation" value="2"/>
    <!-- 测试序列是否为自定义  -->
    <add key="IsSequenceDef" value="true"/>
      <!-- 测试序列的报告是否需要  -->
    <add key="IsSequenceReport" value="true"/>
    <!-- 测试序列的报告是否需要  -->
    <add key="IsSeqNeedIndexReport" value="true"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
